<head><h1> View Post</h1>
</head>
<div id="info-message-grid">
    <img id="image-post-image" src="/{{currentPost.photopath}}">
    <div id="info">
        <div id="postTitle"><h2>{{currentPost.title}}</h2></div>
        <div id="postBody"><p>{{currentPost.description}}</p></div>
        <div id="userInfo"><p>{{currentPost.username}}<br/></p></div>
        <div id="dateInfo"><p>{{currentPost.created}}<br/>
        </p></div>
    </div>
</div> <!--blog posts -->
<br/>

